<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="robots" content="noindex">
<title>{{ f3.projectName }}</title>

{# imi #}
<link rel="stylesheet" href="{{ f3.path }}ui/imi/css/imi4-3.css" type="text/css" media="all">

{# animate : https://daneden.github.io/animate.css/ #}
<link rel="stylesheet" href="{{ f3.path }}ui/imi/css/animate.css" type="text/css" />

{# datetimepicker : https://tempusdominus.github.io/bootstrap-4/ #}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css" /> #}

{# fontawesome : https://fontawesome.com/ (version pro fontawesome-pro-5.6.1) #}
{# fontawesome WEBFONT #}
{# CDN #} {#<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">#}
{# LOCAL #} <link rel="stylesheet" type="text/css" href="{{ f3.path }}ui/fontawesome5.6.1/css/all.min.css">
{# fontawesome SVG #}
{# CDN #} {# <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script> #}
{# LOCAL #} {# <script defer src="{{ f3.path }}ui/fontawesome5.6.1/js/all.min.js"></script> #}

{# jquery #}
{# <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> #}
<script src="{{ f3.path }}ui/imi/js/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ f3.path }}ui/imi/js/jquery.easing.min.js"></script>

{# bootstrapcdn : https://getbootstrap.com/ #}
<script src="{{ f3.path }}ui/bootstrap/js/bootstrap.min.js"></script> {# Version min du JS de Bootstrap 4.3 #}

{# imi #}
<script type="text/javascript" src="{{ f3.path }}ui/imi/js/imi.js"></script>

{# stripe #}
{# <script src="https://js.stripe.com/v3/"></script> #}

{# moment.js #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
{# moment locales : https://cdnjs.com/libraries/moment.js/ #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/fr.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>

{# skrollr : https://github.com/Prinzhorn/skrollr #}
{# <script type="text/javascript" src="{{ f3.path }}ui/imi/js/skrollr.min.js"></script> #}

{# jquery.valide : https://jqueryvalidation.org/documentation/ #}
<script src="{{ f3.path }}ui/imi/js/jquery-validate-1.19.1.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>#}

{# pgwBrowser : https://pgwjs.com/pgwbrowser/ #}
{# détecte le browser et l'OS utilisé + event sur resize de l'écran #}
<script type="text/javascript" src="{{ f3.path }}ui/imi/js/pgwbrowser.min.js"></script>